<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outfitters</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>
          <a href="/">Welcome To Outfitters</a>
          </h1>
          <a href="/login">
      <button id="login">Log In </button>
      </a>
      <button id="logout">Log Out</button>
    </header>
<main>
{{{ body }}}
</main>
  
{{!-- 

<h2>Login:</h2>
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
    <div>
    <button type="submit">Login</button>
    </div>
</form>
<h2>Signup:</h2>
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label for="password-signup">Password</label>
        <input type="text" id="password-signup"/>
    </div>
    <div>
    <button type="submit">Signup</button>
    </div>
</form>

    <script src="js/login.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/clothing.js"></script> --}}
<footer>
    Thanks for visiting!
</footer>
  </body>

</html>