<header>
    <nav class="navbar navbar-expand-lg navbar-light row justify-content-center">
        <h2 class="col-2">
            <a href="/">Main Menu</a>
        </h2>
        <button type="button" class="btn btn-primary col-2" id="logout">Log Out</button>
    </nav>
    </header>

 <a href="/viewclothes">
  <button class="btn btn-primary col-2">View Wardrobe</button>
  </a>
<h2>Clothes:</h2>
<form class="Clothes">
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description"/>
    </div>
    <div>
        <label for="Type">Type:</label>
        <select id="Type" name="Type" value="Select Item">
            <option value="Type-Select" selected>Please Select A Type</option>
            <option value="Chestwear">Chestwear</option>
            <option value="Legwear">Legwear</option>
            <option value="Footwear">Footwear</option>
        </select>
    </div>
    <button class="btn btn-primary col-2" id="clothing">Add Clothing Item</button>
</form>
<script src="js/logout.js"></script>
<script src="js/addclothing.js"></script>