<h2>Clothes:</h2>
<form class="Clothes">
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description"/>
    </div>
    <div>
        <label for="Type">Type:</label>
        <select id="Type" name="Type">
            <option value="Chestwear">Chestwear</option>
            <option value="Legwear">Legwear</option>
            <option value="Footwear">Footwear</option>
        </select>
    </div>
    <button id="clothing">Add Clothing Item</button>
    <div class="itemAdded">Item Added!</div>
    <div class="notAdded">Item was unable to be added.</div>
</form>