 <button id="logout">Log Out</button>
 <a href="/viewclothes">
  <button>View Wardrobe</button>
  </a>
<h2>Clothes:</h2>
<form class="Clothes">
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description"/>
    </div>
    <div>
        <label for="Type">Type:</label>
        <select id="Type" name="Type">
            <option value="Chestwear">Chestwear</option>
            <option value="Legwear">Legwear</option>
            <option value="Footwear">Footwear</option>
        </select>
    </div>
    <button id="clothing">Add Clothing Item</button>
</form>
<script src="js/logout.js"></script>
<script src="js/clothing.js"></script>