<header>
    <nav>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary col-2" id="logout">Log Out</button>
        </div>
    </nav>
    </header>

<section class="container text-center text-primary">
  <div class="row justify-content-center">
  <h1 class="col-4">Welcome To Outfitters</h1>
  </div>
   <div class="row justify-content-center">
  <h3 class="col-4">
    <a href="/addclothes">Add Clothing Into Wardrobe</a>
  </h3>
  </div>
  <div class="row justify-content-center">
  <h3 class="col-4">
    <a href="/viewclothes">View Clothing In Wardrobe</a>
  </h3>
  </div>
</section>
<script src="js/logout.js"></script>