<nav>
     <button id="logout">Log Out</button>
  <h3>
    <a href="/addclothes">Add Clothing Into Wardrobe</a>
  </h3>
  <h3>
    <a href="/viewclothes">View Clothing In Wardrobe</a>
  </h3>
</nav>
<script src="js/logout.js"></script>