<header>>
    <nav class="navbar navbar-expand-lg navbar-light">
        <h1 class="row">
            <a href="/">Main Menu</a>
        </h1>
        <button type="button" class="btn btn-primary row" id="logout">Log Out</button>
    </nav>
    </header>
    
<section>
  <h1>Welcome To Outfitters</h1>
  <h3>
    <a href="/addclothes">Add Clothing Into Wardrobe</a>
  </h3>
  <h3>
    <a href="/viewclothes">View Clothing In Wardrobe</a>
  </h3>
</section>
<script src="js/logout.js"></script>