<header>
    <nav>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary col-2" id="logout">Log Out<ion-icon name="exit-outline"></ion-icon></button>
        </div>
    </nav>
    </header>

<section class="container text-center">
  <div class="row justify-content-center">
  <h1 class="col-4 text-primary">Welcome To Outfitters</h1>
  </div>
   <div class="row justify-content-evenly">
  <h3 class="col-4 p-4">
    <a href="/addclothes"><ion-icon name="add-outline"></ion-icon>Add Clothing</a>
  </h3>
  <h3 class="col-4 p-4">
    <a href="/viewclothes"><ion-icon name="shirt-outline"></ion-icon>View Clothing</a>
  </h3>
  </div>
</section>
<script src="js/logout.js"></script>