<h1>Welcome To Outfitters</h1>
<h2>Login:</h2>
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" />
    </div>
    <div>
    <button type="submit">Login</button>
    </div>
</form>
<h2>Signup:</h2>
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup"/>
    </div>
    <div>
        <label for="password-signup">Password</label>
        <input type="text" id="password-signup"/>
    </div>
    <div>
    <button type="submit">Signup</button>
    </div>
</form>
<script src="js/login.js"></script>