<link rel="stylesheet" href="css/test-styling.css">
<a href="/addClothes">
    <button>Add Clothes</button>
</a>
<div id="all-clothes">

</div>
<div id="type-search">
<h1 id='chestwear'>Chestwear</h1>
<div id="chestwear-div">

</div>
<h1 id='legwear'>Legwear</h1>
<div id="legwear-div">

</div>
<h1 id='footwear'>Footwear</h1>
<div id="footwear-div">

</div>
</div>
<button id="outfit-btn">Generate Outfit</button>
<div id="outfit">

</div>
<script src="js/clothing.js"></script> 
<script src="js/outfit.js"></script>