<link rel="stylesheet" href="css/test-styling.css">
<header>
    <nav class="navbar navbar-expand-lg navbar-light row justify-content-center">
        <h2 class="col-2">
            <a href="/">Main Menu</a>
        </h2>
        <button type="button" class="btn btn-primary col-2" id="logout">Log Out</button>
    </nav>
    </header>

<a href="/addClothes">
    <button class="btn btn-primary col-2">Add Clothes</button>
</a>
<div id="all-clothes">

</div>
<div id="type-search">
<button id='chestwear' class="btn btn-primary col-2">chestwear</button>
<div id="chestwear-div">

</div>
<button id='legwear' class="btn btn-primary col-2">legwear</button>
<div id="legwear-div">

</div>
<button id='footwear' class="btn btn-primary col-2">footwear</button>
<div id="footwear-div">

</div>
</div>
<button class="btn btn-primary col-2" id="outfit-btn">Generate Outfit</button>
<div id="outfit">

</div>
<div id="saved-outfits"></div>
<script src="js/clothing.js"></script> 
<script src="js/outfit.js"></script>