<div id="all-clothes">

</div>
<h1 id="chestwear">Chestwear</h1>
<div id="chestwear-div">

</div>
<h1 id="legwear">Legwear</h1>
<div id="legwear-div">

</div>
<h1 id="footwear">Footwear</h1>
<script src="js/clothing.js"></script> 